extends ../layout

block content
    .container.admin_form
      h1.
          #{title}
      .row
        .col.s12
          form#formAddMember(name="addmember",method="post",action="/equipo")
              h5 Nombre: 
                  input#inputName(type="text", placeholder="ex. John Smith", name="name")
              h5 Título:
                  input#inputTitle(type="text", placeholder="ex. CEO", name="title")
              h5 Foto: 
                  input#inputPicture(type="text", name="picture")
              h5 Descripción: 
                  input#inputDesc(type="text", name="desc")
              p.center-align
                  button.btn.waves-effect.waves-light#btnSubmit(type="submit") Agregar miembro a equipo
                    i.material-icons send
              br
              br
