@import 'components/colors',
		'components/main',
		'components/team';


@media #{$small-and-down} {
	.linke{
		width: 15%;
	}
	.member_image{
		text-align: center;
		img{
			  width: 71% !important;
		}
	}

	.slider, .slider .slides{
		  height: calc(100vh - 116px);
	}
	.slider .slides li .caption{
		  padding: 0 5%;
	}
	.tabs{
		  white-space: normal;
			li{
				a{
					line-height: 1.5;
					padding-top: 10px;
					font-size: 0.7rem;
				}
			}
	}
}
@media #{$medium-and-down} {
	.container .row{
		margin-left: 0;
		margin-right: 0;
	}
	.map-canvas{
		width: 100%;

	}
	html, body{
		  overflow-x: hidden;
	}
	@import 'components/medium/header',
			'components/medium/services';
	footer.page-footer{
		.footer-copyright{
			top: -10px;
			left: 0;
	  	}
	  	.footer-cond{
			top: 20px;
	  	}
	}

}
@media #{$medium-and-up} {
	.linke{
		width: 35%;
	}
	footer.page-footer{
		.footer-copyright{
			top: inherit;
			top: initial;
			left: 0;
	  	}
	  	.footer-cond{
			top: inherit;
			top: initial;
			left: inherit;
			left: initial;
	  	}
	}

}

@media #{$large-and-up} {
	.linke{
		width: 25%;
	}
	@import 'components/large/header',
			'components/large/main',
			'components/medium/services';
}
