.slider{
	h5{
		font-size: 2.1rem;
	}
	h3{
		font-size: 4rem;
	}
}
.toast{
	right: 100%;
	top: -30px;
}


footer.page-footer{
	justify-content: center;
	.footer-copyright{
	}
}
.container{
	min-height: calc(100vh - 160px);
}
