extends layout

block content
	.back.condiciones
		section.container
			article.row
				div.col.s12
					.desc 
						p Este sitio web es propiedad de SUMMA CONSULTORES JURÍDICOS (en adelante SUMMA).  
						p La utilización de este sitio web está sujeta a las siguientes condiciones de uso. Le rogamos que las lea atentamente. El hecho de acceder a este sitio web y utilizar los materiales contenidos en ella implica que usted ha leído y acepta, sin reserva alguna, estas condiciones.
					ul
						li
							h5.major 1
							h5.major Condiciones de uso.

						li
							span 1.1	
							p Este sitio web contiene materiales preparados por SUMMA con fines únicamente informativos. El usuario debe tener en cuenta que tales materiales pudieran no reflejar el estado legislativo o jurisprudencial más reciente sobre las cuestiones analizadas. Asimismo, estos materiales pueden ser modificados, desarrollados o actualizados sin notificación previa.
						li
							span 1.2
							p Los materiales contenidos en este sitio web no pueden ser considerados, en ningún caso, como sustitutivos de asesoramiento legal o de otra naturaleza. El acceso a estos materiales no pretende constituir ni implica relación alguna entre abogado y cliente, ni cualquier otro tipo de relación de confianza o profesional entre SUMMA y el usuario de este sitio web. Por ello, el usuario no debe actuar sobre la base de la información contenida en la misma, sin recurrir previamente al correspondiente asesoramiento profesional. Asimismo, el usuario no debe enviar a SUMMA ningún tipo de información confidencial sin haberlo consultado previamente con alguno de nuestros abogados y haber recibido de los mismos autorización para remitir dicha información.
						li
							span 1.3
							p Los enlaces o links que contiene este sitio web pueden conducir al usuario a otros sitios y páginas web gestionados por terceros, sobre las que SUMMA no ejerce ningún tipo de control. SUMMA no responde ni de los contenidos ni del estado de dichos sitios y páginas web, y el acceso a las mismas a través de este sitio web tampoco implica que SUMMA recomiende o apruebe sus contenidos.
						li
							h5.major 2
							h5.major Limitación de responsabilidad.
						li
							span 2.1	
							p Quien utiliza este sitio web, lo hace por su propia cuenta y riesgo. SUMMA, sus socios, colaboradores, empleados y representantes no se responsabilizan de los errores u omisiones de los que pudieran adolecer los contenidos este sitio web u otros contenidos a los que se pueda acceder a través de la misma. SUMMA, sus socios, colaboradores, empleados y representantes tampoco podrán ser considerados responsables por cualesquiera daños derivados de la utilización de este sitio web, ni por cualquier actuación realizada sobre la base de la información que en ella se facilita.
						li
							span 2.2
							p SUMMA no garantiza la ausencia de virus u otros elementos lesivos que pudieran causar daños o alteraciones en el sistema informático, en los documentos electrónicos o en los ficheros del usuario de este sitio web. En consecuencia, SUMMA no responde por los daños y perjuicios que tales elementos pudieran ocasionar al usuario o a terceros.
						li
							h5.major 3
							h5.major Protección de datos.
						li
							span 3.1
							p La información que recibe SUMMA de los usuarios de este sitio web, a través de su correo, es tratada con la máxima confidencialidad. En el caso de las consultas on-line, esta información es utilizada exclusivamente para responder a las cuestiones planteadas. La información recibida no es utilizada para ningún otro fin.
						li
							span 3.2
							p SUMMA no utiliza cookies para acceder a información relativa a los usuarios del sitio web. Sin embargo, se reserva el derecho de modificar su criterio respecto al uso de cookies.
						li
							span 3.3
							p En su caso, durante el proceso de recogida de los datos, el usuario será informado del carácter necesario de los mismos. Si no se facilitan estos datos obligatorios, no será posible la prestación de tales servicios.
						li
							span 3.4
							p En relación con los datos recabados en la forma prevista en los apartados anteriores, el usuario podrá ejercitar los derechos reconocidos por la ley y, en particular, los derechos de acceso, rectificación o cancelación de datos y oposición, si resultase pertinente, así como el derecho de revocar el consentimiento prestado para la cesión de sus datos. Tales derechos podrán ser ejercitados por el usuario o, en su caso, por quien lo represente, mediante solicitud escrita y firmada, dirigida a la siguiente dirección: Muntaner, 269, 2-1, de Barcelona. La solicitud deberá contener los siguientes datos: nombre y apellidos del usuario, domicilio a efectos de notificaciones, fotocopia del Documento Nacional de Identidad o pasaporte, y contenido concreto del derecho ejercitado.
						li
							span 3.5
							p SUMMA guardará los datos de carácter personal que haya recabado, y adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizados. SUMMA cumplirá estos deberes de acuerdo con lo establecido por la normativa aplicable.
