extends layout

block content
	section.container
		article.row.contact_module
			.col.s12
				ul.tabs
					li.tab.my-tab-1.col.s3
						a(href="#bogota") Bogotá
					li.tab.my-tab-2.col.s3
						a(href="#barcelona") Barcelona
					li.tab.col.s3
						a(href="#lima") Lima
					li.tab.my-tab-3.col.s3
						a(href="#chile") Santiago de Chile
			.row.contact_forms
				div#bogota.s12.col.contact_form
					.row.loc
						.m6.col.left-align
							p Bogotá - Colombia
						.m6.col.right-align
							p
								strong Tel: 
								span +57 (1) 3462668
						.m6.col.left-align
							p Calle 69A No. 4-31
						.m6.col.right-align
							p
								strong Tel: 
								span +57 3133507816
					.row.mapa
						.offset-s3.s6.col.align-center
							#map-canvas-bogota.video-container
								iframe(width="500", height="200", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyvxwyNtx1e-p8N0vz_QwNRtXjwcSbOUk&q=Cl.+69a+4+31,Bogotá+Colombia&zoom=18", allowfullscreen="true")
								
				div#barcelona.s12.col.contact_form
					.row.loc
						.m6.col.left-align
							p Barcelona - España
						.m6.col.right-align
							p
								strong Tel: 
								span  +34 93 531 16 16
						.m6.col.left-align
							p Muntaner, 269, 2º 1ª. 08021. 
						.m6.col.right-align
							p
								strong Tel: 
								span  +34 93 531 16 18
					.row.mapa
						.offset-s3.s6.col.align-center
							#map-canvas-barcelona.video-container
								iframe(width="500", height="200", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyvxwyNtx1e-p8N0vz_QwNRtXjwcSbOUk&q=Carrer+de+Muntaner,+269&zoom=18", allowfullscreen="true")
								
				div#lima.s12.col.contact_form
					.row.loc
						.m6.col.left-align
							p Lima – Perú
						.m6.col.right-align
							p
								strong Tel: 
								span  + 51 (1) 959171049
						.m6.col.left-align
							p Calle Enrique Palacios, 335 oficina 501 
						.m6.col.right-align
					.row.mapa
						.offset-s3.s6.col.align-center
							#map-canvas-lima.video-container
								iframe(width="500", height="200", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyvxwyNtx1e-p8N0vz_QwNRtXjwcSbOUk&q=Calle+Enrique+Palacios+350,Miraflores+15074&zoom=18", allowfullscreen="true")
				div#chile.s12.col.contact_form
					h4.title.bold Próximamente
			form.col.s12#formMail(name="mailer", method="post", action="/mailer")
				.row
					.input-field.col.s12.m6
						i.material-icons.prefix account_circle
						input#icon_prefix.validate(type="text", name="nombre", required="required")
						label(for="icon_prefix", data-error="wrong" data-success="right") Nombre
					.input-field.col.s12.m6
						i.material-icons.prefix mail
						input#icon_mail.validate(type="email", name="mail", required="required")
						label(for="icon_mail", data-error="wrong" data-success="right") Mail
					.input-field.col.s12
						i.material-icons.prefix mode_edit
						textarea#icon_message.materialize-textarea(name="mensaje", required="required")
						label(for="icon_message") Mensaje
					input(type="checkbox", required="required", id="aceptar")
					label(for="aceptar") Aceptar Condiciones de Uso y Política de Privacidad
					.col.s12.center-align
						button.btn.waves-effect.waves-light(type="submit") Enviar
							i.material-icons send
