extends layout

block content
	section.container
		article.row.contact_module
			.col.s12
				ul.tabs
					li.tab.col.s3
						a(href="#bogota") Bogotá
					li.tab.col.s3
						a(href="#barcelona") Barcelona
					li.tab.col.s3
						a(href="#lima") Lima
					li.tab.col.s3
						a(href="#chile") Santiago de Chile
			.row.contact_forms
				div#bogota.s12.col.contact_form
					.row.loc
						.m6.col.left-align
							p Bogotá - Colombia
						.m6.col.right-align
							p
								strong Tel: 
								span +57 (1) 3462668
						.m6.col.left-align
							p Calle 69A No. 4-31
						.m6.col.right-align
							p
								strong Tel: 
								span +57 3133507816
					.row.mapa
						.s12.col
							#map-canvas-bogota.map-canvas
				div#barcelona.s12.col.contact_form
					.row.loc
						.m6.col.left-align
							p Barcelona - España
						.m6.col.right-align
							p
								strong Tel: 
								span  +34 93 531 16 16
						.m6.col.left-align
							p Muntaner, 340, 2º 2ª. 08021. 
						.m6.col.right-align
							p
								strong Tel: 
								span  +34 93 531 16 18
					.row.mapa
						.s12.col
							#map-canvas-barcelona.map-canvas
				div#lima.s12.col.contact_form
					.row.loc
						.m6.col.left-align
							p Lima – Perú
						.m6.col.right-align
							p
								strong Tel: 
								span  + 51 (1) 959171049
						.m6.col.left-align
							p Calle Enrique Palacios, 335 oficina 501 
						.m6.col.right-align
					.row.mapa
						.s12.col
							#map-canvas-lima.map-canvas
				div#chile.s12.col.contact_form
					p.title.bold Próximamente
			form.col.s12#formMail(name="mailer", method="post", action="/mailer")
				.row
					.input-field.col.s12.m6
						i.material-icons.prefix account_circle
						input#icon_prefix.validate(type="text", name="nombre")
						label(for="icon_prefix") Nombre
					.input-field.col.s12.m6
						i.material-icons.prefix mail
						input#icon_mail.validate(type="text", name="mail")
						label(for="icon_mail") Mail
					.input-field.col.s12
						i.material-icons.prefix mode_edit
						textarea#icon_message.materialize-textarea(name="mensaje")
						label(for="icon_message") Mensaje
					.col.s12.center-align
						button.btn.waves-effect.waves-light(type="submit") Enviar
							i.material-icons send
