case language
		when "en"
<<<<<<< HEAD
			- var desc = "Privacity"
		when "ca"
			- var desc = "catalan Uso y Política de Privacidad"
		default
=======
			- var lan = language
			- var desc = "Privacity"
		when "ca"
			- var lan = language
			- var desc = "catalan Uso y Política de Privacidad"
		default
			- var lan = 'es'
>>>>>>> ca8d4fb7722189faeb0949f8e6627f94f6b3fac8
			- var desc = "Condiciones de Uso y Política de Privacidad"

footer.page-footer.valign-wrapper
	.footer-copyright
		div © 2015 Copyright 
	.social-foot.valign
		//.icon-foot.facebook
		//	a(href="")
		//		img(src="/img/facebook.png")
		//.icon-foot.twitter
		//	a(href="")
		//		img(src="/img/twitter.png")
		.icon-foot.mail
<<<<<<< HEAD
			a(href="/contacto")
				i.mdi-communication-email
	div.footer-copyright.footer-cond
		a(href="/condiciones") #{desc}

=======
			a(href="/contacto/#{lan}")
				i.mdi-communication-email
	div.footer-copyright.footer-cond
		a(href="/condiciones") #{desc}
>>>>>>> ca8d4fb7722189faeb0949f8e6627f94f6b3fac8
