footer.page-footer.valign-wrapper
	.footer-copyright
		div © 2015 Copyright 
	.social-foot.valign
		//.icon-foot.facebook
		//	a(href="")
		//		img(src="/img/facebook.png")
		//.icon-foot.twitter
		//	a(href="")
		//		img(src="/img/twitter.png")
		.icon-foot.mail
			a(href="/contacto")
				i.mdi-communication-email
	div.footer-copyright.footer-cond
		a(href="/condiciones") Condiciones de Uso y Política de Privacidad

