footer.page-footer.valign-wrapper
	.footer-copyright
		div © 2015 Copyright
	.social-foot.valign
		.icon-foot.facebook
			a(href="")
				i.mdi-communication-email
		.icon-foot.twitter
			a(href="")
				i.mdi-communication-email
		.icon-foot.mail
			a(href="")
				i.mdi-communication-email