footer.page-footer.valign-wrapper
	.footer-copyright
		div © 2015 Copyright
	.social-foot.valign
		.icon-foot.facebook
			a(href="")
				img(src="/img/facebook.png")
		.icon-foot.twitter
			a(href="")
				img(src="/img/twitter.png")
		.icon-foot.mail
			a(href="")
				i.mdi-communication-email
