header
	nav.header-nav
		.nav-wrapper
			a(class="brand-logo right center-align", href="/")
				img(src="/img/logo_dark.png", class="logo")
			a(href="#", data-activates="mobile-demo", class="button-collapse")
				i.mdi-navigation-menu
			ul.hide-on-med-and-down
				li
					a(href="/", class="active") home
				li
					a(href="/equipo") equipo
				li
					a(href="/servicios") servicios
				li
					a(href="/contacto") contacto
			ul.side-nav#mobile-demo
				li
					a(href="/", class="active") home
				li
					a(href="/equipo") equipo
				li
					a(href="/servicios") servicios
				li
					a(href="/contacto") contacto        
