extends layout

block content
	section.slider
		ul.slides
			li
				img(src="img/bogota.jpg")
				.caption.center-align
					h5 Summa Consultores Jurídicos es una firma internacional con sede en Barcelona, Bogotá y Lima, y aliados en otras ciudades, que presta asesoría jurídica especializada a personas y empresas tanto en sus procesos de expansión, como en su actividad cotidiana.
					.address
						p Colombia - Bogotá - Calle 69A No. 4-31
			li
				img(src="img/barcelona.jpg")
				.caption.center-align
					h5 Summa Consultores Jurídicos es una firma internacional con sede en Barcelona, Bogotá y Lima, y aliados en otras ciudades, que presta asesoría jurídica especializada a personas y empresas tanto en sus procesos de expansión, como en su actividad cotidiana.
					.address
						p España - Barcelona - Muntaner, 340, 2º 2ª. 08021
			li
				img(src="img/lima.jpg")
				.caption.center-align
					h5 Summa Consultores Jurídicos es una firma internacional con sede en Barcelona, Bogotá y Lima, y aliados en otras ciudades, que presta asesoría jurídica especializada a personas y empresas tanto en sus procesos de expansión, como en su actividad cotidiana.
					.address
						p Perú - Lima – Calle Enrique Palacios, 335 oficina 501
