extends layout

block content
	section.slider
		ul.slides
			li
				img(src="img/bogota.jpg")
				.caption.center-align
					h5 Lorem Ipsum es simplemente el texto de rellen, o de las imprentas y archivos de texto, Lorem Ipsum es simplemente el texto de relleno.
					h3.bold LOREM IPSUM
			li
				img(src="img/barcelona.jpg")
				.caption.center-align
					h5 Lorem Ipsum es simplemente el texto de rellen, o de las imprentas y archivos de texto, Lorem Ipsum es simplemente el texto de relleno.
					h3.bold LOREM IPSUM
