doctype html
html
	head
		title summa consultores
		link(rel="icon", href="/img/favicon.ico", type="image/x-icon")
		link(rel='stylesheet', href='/stylesheets/materialize.min.css', media='screen,projection')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	body
		include header
		block content
		include footer
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(type='text/javascript', src='/js/materialize.min.js')
		script(type='text/javascript', src='/js/main.js')
