extends layout

block content
    .container
      h1.
          #{title}
      .row
        .col.s12
          form#formLogin(name="login",method="post",action="/login")
            h5 Nombre:
                input#inputLogin(type="text", placeholder="user", name="username")
            h5 Password:
                input#inputPass(type="password", placeholder="pass", name="password")
            p.center-align
                button.btn.waves-effect.waves-light#btnSubmit(type="submit") Entrar
                  i.material-icons send
