extends layout

block content
	.back
		section.container
			article.row.services_module
				div.col.s12
					h2.title.bold Comercio Internacional e inversión extranjera
					p.desc Prestamos apoyo a nuestros clientes para el correcto establecimiento de sus negocios en otros países, valorando las diferentes alternativas que ofrece la normatividad de cada Estado, de modo que el mecanismo escogido sea idóneo para tal objetivo.
					ul.list_services 
						li Asesoría en la definición del tipo de entidad jurídica y su implementación.
						li Asesoría en materia cambiaria y de inversión extranjera.
						li Apoyo en la representación legal de la empresa.
						li Asesoría en aspectos migratorios.
						li Búsqueda de aliados estratégicos y asesoría en la suscripción de acuerdos de colaboración.

			article.row.services_module
				div.col.s12
					h2.title.bold Comercio Internacional e inversión extranjera
					p.desc Prestamos apoyo a nuestros clientes para el correcto establecimiento de sus negocios en otros países, valorando las diferentes alternativas que ofrece la normatividad de cada Estado, de modo que el mecanismo escogido sea idóneo para tal objetivo.
					ul.list_services 
						li Asesoría en la definición del tipo de entidad jurídica y su implementación.
						li Asesoría en materia cambiaria y de inversión extranjera.
						li Apoyo en la representación legal de la empresa.
						li Asesoría en aspectos migratorios.
						li Búsqueda de aliados estratégicos y asesoría en la suscripción de acuerdos de colaboración.