@font-face {
  font-family: bitter;
  src: url("../font/bitter/bitter-regular.ttf"); }

/* line 1, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
#message {
  display: none; }

/* line 4, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.toast {
  background-color: #ba5330; }

/* line 7, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.content_list {
  padding-left: 20px;
  list-style: disc; }
  /* line 10, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .content_list li {
    list-style: disc;
    margin-bottom: 10px; }

/* line 15, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.header-nav {
  background: #38464f;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
  position: relative; }
  /* line 23, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .header-nav ul li a {
    text-transform: uppercase;
    font-family: bitter;
    font-size: 1.2rem;
    font-weight: bold; }
    /* line 28, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
    .header-nav ul li a.active {
      color: #ba5330; }

/* line 36, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.slider {
  height: calc(100vh - 116px); }
  /* line 38, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .slider .slides {
    height: calc(100vh - 116px); }
  /* line 41, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .slider h5 {
    font-size: 1.5rem;
    line-height: 1.2; }
  /* line 45, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .slider h3 {
    color: #ba5330;
    font-size: 3rem;
    font-family: bitter;
    line-height: 1.2; }

/* line 53, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.bold {
  font-weight: bold; }

/* line 56, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.row {
  margin-bottom: 0; }

/* line 59, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.back {
  background: #f3f3f3; }

/* line 62, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.container {
  background: white;
  min-height: calc(100vh - 125px); }

/* line 66, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
footer.page-footer {
  margin: 0;
  background-color: #38464f;
  padding: 0;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  padding: 10px 0; }
  /* line 74, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  footer.page-footer .footer-copyright {
    position: absolute;
    left: 20px; }
  /* line 79, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  footer.page-footer .social-foot .icon-foot {
    float: left;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    padding: 8px 0;
    font-size: 25px;
    line-height: 1;
    color: white; }
    /* line 91, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot a {
      color: white; }
    /* line 94, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot.facebook {
      background: #3c5999; }
      /* line 96, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
      footer.page-footer .social-foot .icon-foot.facebook img {
        margin-top: -4px;
        width: 70%; }
    /* line 101, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot.twitter {
      background: white; }
      /* line 103, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
      footer.page-footer .social-foot .icon-foot.twitter img {
        width: 26px;
        margin-top: 1px; }
    /* line 108, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot.mail {
      background: #999999; }

/*@goup services*/
/* line 118, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.container .services_module {
  padding-bottom: 30px;
  margin: 0;
  border-bottom: 3px solid #f3f3f3; }
  /* line 122, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .container .services_module .title {
    font-size: 2rem;
    font-family: bitter;
    color: #ba5330; }
  /* line 127, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .container .services_module .desc {
    font-size: 1rem; }
  /* line 131, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .container .services_module .list_services li {
    font-size: 1rem;
    padding-left: 15px;
    position: relative; }
    /* line 135, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
    .container .services_module .list_services li:before {
      display: block;
      width: 5px;
      height: 5px;
      content: '';
      background-color: #ba5330;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px; }
  /* line 149, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .container .services_module:last-child {
    margin-bottom: 0;
    border-bottom: 0; }

/*@end services*/
/* line 159, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.tabs .tab a {
  color: black; }
  /* line 161, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .tabs .tab a:hover {
    color: #ba5330; }

/* line 166, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.tabs .indicator {
  background-color: #ba5330; }

/* line 170, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.btn {
  padding: 12px 2rem;
  line-height: 1;
  vertical-align: top;
  background-color: #ba5330; }
  /* line 175, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .btn .material-icons {
    margin-left: 20px;
    position: relative;
    top: -3px; }
  /* line 180, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .btn:hover {
    background-color: #B34621; }

/*map*/
/* line 186, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.mapa {
  padding-bottom: 30px;
  border-bottom: 1px solid #BBB;
  margin-bottom: 30px;
  margin-top: 30px; }

/* line 192, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.map-canvas {
  width: 700px;
  height: 300px;
  margin: 0 auto; }

/* line 198, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.loc p {
  margin-top: 0; }

/*admin section*/
/* line 204, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
.edit_item .actions_item {
  margin-top: 40px; }
  /* line 206, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_main.scss */
  .edit_item .actions_item a {
    margin: 0 10px; }

/* line 1, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
.team_module {
  margin-top: 3rem; }
  /* line 3, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
  .team_module .member {
    border-bottom: 1px solid #BBB;
    min-height: 200px;
    margin-bottom: 2rem; }
  /* line 8, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
  .team_module .member_name {
    color: black;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 14, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
  .team_module .member_title {
    color: #BBB;
    margin-top: 0; }
  /* line 19, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
  .team_module .member_image img {
    width: 100%; }
  /* line 27, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
  .team_module .modal_team .img_modal_team {
    width: 100%; }

/* line 34, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
.contact_module {
  margin-top: 3rem; }
  /* line 39, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/_team.scss */
  .contact_module .contact_form {
    margin-top: 30px; }

@media only screen and (max-width: 992px) {
  /* line 10, stdin */
  .container .row {
    margin-left: 0;
    margin-right: 0; }
  /* line 1, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/medium/_header.scss */
  .container {
    width: 100%;
    padding: 0; }
  /* line 5, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/medium/_header.scss */
  .header-nav .logo {
    width: 150px; } }

@media only screen and (min-width: 993px) {
  /* line 1, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_header.scss */
  .header-nav {
    height: 100px; }
    /* line 3, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_header.scss */
    .header-nav .logo {
      width: 220px;
      margin-top: 15px; }
    /* line 7, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_header.scss */
    .header-nav li {
      height: 100px;
      padding: 20px 0; }
  /* line 2, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_main.scss */
  .slider h5 {
    font-size: 2.1rem; }
  /* line 5, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_main.scss */
  .slider h3 {
    font-size: 4rem; }
  /* line 9, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_main.scss */
  .toast {
    right: 100%;
    top: -30px; }
  /* line 15, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_main.scss */
  footer.page-footer {
    justify-content: center; }
  /* line 20, /Users/danlarro/Documents/daniel/summa/summa_node/public/sass/components/large/_main.scss */
  .container {
    min-height: calc(100vh - 160px); } }
