@font-face {
  font-family: bitter;
  src: url("../font/bitter/bitter-regular.ttf"); }

/* line 1, c:/summa/summa_node/public/sass/components/_main.scss */
.header-nav {
  background: #38464f; }
  /* line 5, c:/summa/summa_node/public/sass/components/_main.scss */
  .header-nav ul li a {
    text-transform: uppercase;
    font-family: bitter;
    font-size: 1.2rem;
    font-weight: bold; }
    /* line 10, c:/summa/summa_node/public/sass/components/_main.scss */
    .header-nav ul li a.active {
      color: #ba5330; }

/* line 18, c:/summa/summa_node/public/sass/components/_main.scss */
.slider {
  height: calc(100vh - 116px); }
  /* line 20, c:/summa/summa_node/public/sass/components/_main.scss */
  .slider .slides {
    height: calc(100vh - 116px); }
  /* line 23, c:/summa/summa_node/public/sass/components/_main.scss */
  .slider h5 {
    font-size: 1.5rem;
    line-height: 1.2; }
  /* line 27, c:/summa/summa_node/public/sass/components/_main.scss */
  .slider h3 {
    color: #ba5330;
    font-size: 3rem;
    font-family: bitter;
    line-height: 1.2; }

/* line 35, c:/summa/summa_node/public/sass/components/_main.scss */
.bold {
  font-weight: bold; }

/* line 38, c:/summa/summa_node/public/sass/components/_main.scss */
footer.page-footer {
  margin: 0;
  background-color: #38464f;
  padding: 0;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  padding: 10px 0; }
  /* line 46, c:/summa/summa_node/public/sass/components/_main.scss */
  footer.page-footer .footer-copyright {
    position: absolute;
    left: 20px; }
  /* line 51, c:/summa/summa_node/public/sass/components/_main.scss */
  footer.page-footer .social-foot .icon-foot {
    float: left;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    padding: 8px 0;
    font-size: 25px;
    line-height: 1;
    color: white; }
    /* line 63, c:/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot a {
      color: white; }
    /* line 66, c:/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot.facebook {
      background: #3c5999; }
    /* line 69, c:/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot.twitter {
      background: #00adef; }
    /* line 72, c:/summa/summa_node/public/sass/components/_main.scss */
    footer.page-footer .social-foot .icon-foot.mail {
      background: #999999; }

@media only screen and (max-width: 992px) {
  /* line 1, c:/summa/summa_node/public/sass/components/medium/_header.scss */
  .container {
    width: 100%;
    padding: 0; }
  /* line 5, c:/summa/summa_node/public/sass/components/medium/_header.scss */
  .header-nav .logo {
    width: 150px; } }

@media only screen and (min-width: 993px) {
  /* line 1, c:/summa/summa_node/public/sass/components/large/_header.scss */
  .header-nav {
    height: 100px; }
    /* line 3, c:/summa/summa_node/public/sass/components/large/_header.scss */
    .header-nav .logo {
      width: 220px;
      margin-top: 15px; }
    /* line 7, c:/summa/summa_node/public/sass/components/large/_header.scss */
    .header-nav li {
      height: 100px;
      padding: 20px 0; }
  /* line 2, c:/summa/summa_node/public/sass/components/large/_main.scss */
  .slider h5 {
    font-size: 2.1rem; }
  /* line 5, c:/summa/summa_node/public/sass/components/large/_main.scss */
  .slider h3 {
    font-size: 4rem; }
  /* line 11, c:/summa/summa_node/public/sass/components/large/_main.scss */
  footer.page-footer {
    justify-content: center; } }
