@font-face {
  font-family: bitter;
  src: url("../font/bitter/bitter-regular.ttf"); }

/* line 1, c:/summa/summa_node/public/sass/components/_header.scss */
.header-nav {
  background: #38464f;
  height: 100px;
  padding: 18px 0; }
  /* line 7, c:/summa/summa_node/public/sass/components/_header.scss */
  .header-nav ul li a {
    text-transform: uppercase;
    font-family: bitter;
    font-size: 1.2rem;
    font-weight: bold; }
    /* line 12, c:/summa/summa_node/public/sass/components/_header.scss */
    .header-nav ul li a.active {
      color: #ba5330; }
  /* line 18, c:/summa/summa_node/public/sass/components/_header.scss */
  .header-nav .logo {
    width: 300px;
    position: absolute;
    right: 20px;
    top: -20px; }
