extends ../layout

block content
	.back
		section.container
			article.row
				div.col.s12
					.desc 
						p Prestamos apoyo a nuestros clientes para el correcto establecimiento de sus negocios en Colombia, España y Perú, valorando las diferentes alternativas que ofrece la normatividad de cada Estado, de modo que el mecanismo escogido sea idóneo para tal objetivo.  
						p Contamos con el conocimiento y la experiencia necesarias para diseñar la estrategia adecuada para los planes de expansión de las empresas, de acuerdo con las características especiales del negocio, para lo cual prestamos asesoría en las siguientes áreas del derecho:
			- each service, i in services
				article.row.services_module
					div.col.s12
						if logueado
							a.btn-floating.btn-large.waves-effect.waves-light.red(href="/servicios/#{service._id}")
								i.material-icons create
						h2.title.bold.title_service #{service.title}
						.desc.service_desc !{service.content}
							ul.list_services 
								if service.serviceList.length > 1
									- each item, i in service.serviceList
										li
											= item
			article.row
				div.col.s12
					.desc
						p Además de las siguientes áreas del derecho, podemos ofrecer una asesoría integral a nuestros clientes a través de las alianzas con despachos expertos en otras áreas del derecho y profesionales en otras materias.
